PORT=3000

JWT_SECRET=desarrollo_2026

DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=new_db

AD_URL=ldaps://dc.con-que-si.com:636
AD_BASE_DN=dc=con-que-si,dc=com
AD_USER=usuario_lectura@con-que-si.com
AD_PASSWORD=password_del_usuario